.body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("public/only-you-6c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

header{
   position: absolute;
    width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}